%h1 Amener des zamels au Mafraj
%p Chaque zamel coûte 10 ressources de thé et 10 ressources de fumée et prend 1 minute à faire venir au Mafraj.
%br
.row
  .col-md-4
    = form_tag '/zamel/construire' do |f|
      = number_field_tag 'zamels', 0, min: 0, class: "form-control"
      %br
      %br
      = submit_tag "Faire venir des Zamels", class: "form-control"